body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s eas,color 0.3s ease;
}

.container {
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #61055c;
    color: white;
    border-radius: 5px;
    transition: background-color color 0.3s ease;
}

button:hover {
    background-color: #61055c;
}

/*Tema claro*/
.ligth-theme {
    background-color: #f0f0f0;
    color: #000;
}

/*Tema escuro*/
.dark-theme {
    background-color: #000000;
    color: #fff;
}

